<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### Exercise 2:
# Data Science Tools and Ecosystem

### Exercise 3:
In this notebook, Data Science Tools and Ecosystem are summarized.

## Exercise 10: Insert a markdown cell to list Objectives
**Objectives:**

+ List popular languages for Data Science
+ List the various libraries: scientific, visualization, machine learning, and deep learning.
+ Describe how to use the notebooks in JupyterLab
+ Describe R capabilities and RStudio environment
+ Explain version control and describe the Git and GitHub environment

### Exercise 4:
### Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. SQL
4. Java

### Exercise 5:
### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

### Exercise 6:
|Data Science Tools|
--------------------
|Jupyter Lab|
|Apache Zeppelin|
|R Studio|

### Exercise 7:
### Below are a few examples of evaluating arithmetic expressions in Python

20 + 5*8 =

6*9 - 10 =

(100 + 10)*111 =

In [1]:
20 + 5*8

60

In [2]:
6*9 - 10

44

In [4]:
(100/10)*111

1110.0

### Exercise 8: Create a code cell to multiply and add numbers

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Exercise 9: Create a code cell to convert minutes to hours

In [13]:
#This will convert 200 minutes to hours by diving by 60. 
#To calculate the whole hours
200//60

3

In [12]:
#To calculate the remaining minutes
200 % 60

20

## Exercise 11:  Create a markdown cell to indicate the Author's name
## Author

Jian-Jung (JJ) Pan